:host {             // host targets selector: 'home'

  display: block;
  left: 0;
  width: 100%;    // takes parent width        
  height: 90%;   // takes parent height    
}

.mat-toolbar.mat-primary {
  top: 0;
  z-index: 1;
}

.tile-edit {
  margin-top: 20px;
}
.tile-edit > .mat-grid-tile-content{
  justify-content: flex-start !important ;
  align-items: flex-start !important;
}
