<mat-toolbar color="primary">
  <span>earthgui</span>
</mat-toolbar>

<mat-grid-list cols="3" rowHeight="100%" gutterSize="5px">
  <mat-grid-tile colspan="2">
    <router-outlet></router-outlet>
  </mat-grid-tile>
  <mat-grid-tile class="tile-edit">
    <mat-accordion multi>
      <mat-expansion-panel expanded disabled>
        <app-earthquake-detail></app-earthquake-detail>
      </mat-expansion-panel>
      <app-chart-view></app-chart-view>
    </mat-accordion>
  </mat-grid-tile>
 
</mat-grid-list>
