:host {             // host targets selector: 'home'

    display: block;
    left: 0;
    width: 100%;    // takes parent width        
    height: 100%;   // takes parent height    
}

.svg-container {
    border-color: rgb(0, 0, 0);
    background-color: white;
    height:960px;
}

.toolbar-container {
    padding-top: 22px;
    display: block;
}

.toolbar-table{
    width:100%;
    min-width: 60px;
   
}

.toolbar-table > td {
    display: block;
}