.mat-form-field {
    padding-right: 20px;
}
.earthquake-form{
    margin-top: 20px;;
    width: 100%;
}
.empty-item{
    height: 30px;
    margin-top: 20px;
    width:100%;
}
.mat-dialog-actions{
    margin-top: 20px;
}
.mat-dialog-actions > .mat-raised-button{
    margin-right: 20px;
}
